@import '../../styles/variables';

.post {
  background-color: $elem-color;
  border: 1px solid $light-gray;
  border-radius: 10px;
  padding: 10px 10px 5px;
  color: $dark-gray;
  margin-bottom: 10px;
  position: relative;
  &_moreIcon {
    display: block !important;
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 50% !important;
    padding: 4px 4px 0 !important;
    cursor: pointer;
    &:hover {
      background-color: $light-gray;
    }
  }
}

.post_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .post_info {
    margin-left: 10px;
    > h2 {
      font-size: 13px;
      color: $bold-color;
    }
    > p {
      font-size: 11px;
      color: $dark-gray;
    }
  }
}

.post_body {
  overflow-wrap: anywhere;
  margin-bottom: 10px;
  font-size: 14px;
}

.post_statistics {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: $dark-gray;
  margin-bottom: 3px;
  div {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: $main-color;
    }
  }
}

.post_buttons {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  border-top: 1px solid $light-gray;
  padding-top: 5px;
}

.post_commentBox {
  margin: 5px 0 10px;
  > div {
    display: flex;
    .post_inputSection {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      .post_input {
        flex: 1;
        border-radius: 20px;
        padding: 10px;
        outline: none;
        border: 1px solid $dark-gray;
        color: $dark-gray;
      }
      .post_button {
        align-self: flex-start;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 12px;
        border-radius: 20px;
        padding: 2px 10px;
        margin-top: 5px;
        min-width: 0;
      }
    }
  }
}

.post_comment {
  display: flex;
  margin-top: 10px;
  &_info {
    display: flex;
    justify-content: space-between;
  }
  &_content {
    flex: 1;
    background-color: $comm-bg-color;
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: 10px;
    margin-left: 10px;
    h4 {
      font-size: 13px;
      color: $bold-color;
      span {
        color: $elem-color;
        font-weight: normal;
        background-color: $dark-gray;
        border-radius: 3px;
        padding: 1px 5px;
      }
    }
    h6 {
      font-weight: normal;
    }
    p {
      overflow-wrap: anywhere;
      font-size: 13px;
      line-height: 20px;
      margin-top: 10px;
    }
  }
}

.post_moreIcon_popover {
  color: $dark-gray;
  &_option {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    > p {
      padding-left: 10px;
    }
    &:hover {
      background-color: $light-gray;
    }
  }
}

@media screen and (max-width: $media-s) {
  .post {
    border-radius: 0;
  }
}