// Colors
$main-color: #0a66c2;
$main-hover-color: #0a5097;
$bg-color: #f3f2ef;
$dark-gray: #666666;
$light-gray: #e8e7e4;
$hover-color: #000;
$elem-color: #fff;
$bold-color: #000;
$comm-bg-color: #f2f2f2;

// Media widths
$media-xl: 1200px;
$media-l: 992px;
$media-m: 768px;
$media-s: 576px;

// Container widths
$container-xl: 1128px;
$container-l: 960px;
$container-m: 720px;
$container-s: 576px;
