@import '../../styles/variables';

.header {
  border-bottom: 1px solid $light-gray;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $elem-color;
  &_container {
    width: $container-xl;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header_left {
  display: flex;
  img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
  }
  .header_search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
    input {
      outline: none;
      border: none;
      background: none;
    }
  }
}

.header_right {
  display: flex;
  align-items: center;
  > a {
    text-decoration: none;
    border: none;
    &:visited {
      outline: none;
    }
  }
  a.active {
    border-bottom: 2px solid $hover-color;
    > .headerOption {
      color: $hover-color;
    }
  }
}

@media screen and (max-width: $media-xl) {
  .header_container {
    width: 100%;
  }
  .header_left {
    img {
      margin-left: 10px;
    }
  }
}