@import '../styles/variables';

.app {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app_body {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
}

@media screen and (max-width: $media-s) {
  .app_body {
    margin: 0;
  }
}

@media screen and (min-width: $media-s) {
  .app_body {
    width: $container-s;
  }
}

@media screen and (min-width: $media-m) {
  .app_body {
    width: $container-m;
  }
}

@media screen and (min-width: $media-l) {
  .app_body {
    width: $container-l;
  }
}

@media screen and (min-width: $media-xl) {
  .app_body {
    width: $container-xl;
  }
}