@import '../../styles/variables';

.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 50px;
  background-color: $elem-color;
  border-radius: 10px;
  border: 1px solid $light-gray;

  img {
    object-fit: contain;
    height: 70px;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  &_input {
    margin-bottom: 15px !important;
  }
  &_helper {
    margin-bottom: 10px;
    color: $dark-gray;
  }
  &_footer {
    margin-top: 20px;
  }
  &_login {
    color: $main-color;
    text-decoration: none;
    cursor: pointer;
  }
}
