@import '../../styles/variables';

.registerImgUpload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 50px;
  background-color: $elem-color;
  border-radius: 10px;
  border: 1px solid $light-gray;
  > img {
    object-fit: contain;
    height: 70px;
  }
  p {
    margin: 10px;
  }
}
